{% extends 'site/layouts/base.twig' %}
{% block title %}Vídeos - Área do Cliente - {% endblock %}
{% block description %}{% endblock %}

{% block content %}

<section id="breadcrumbs">
    <div class="uk-container">
        <div class="contentBreadcrumb">
            <p class="uk-margin-remove">Área do Cliente > Vídeos</p>
        </div>
    </div>
</section>


<section id="mainBlock">
    <div class="contentBlock">
        <div class="uk-container">
            <div class="downloadsCards">
                <div class="uk-child-width-1-2@s uk-child-width-1-4@m uk-text-center" uk-grid>
                 {% for r in d %}
                    <div>
                       
                        <div id="video" class="animateCard" >
                            <iframe src="https://www.youtube.com/embed/{{ r.codigo }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                       
                    </div>  
                     {% endfor %}                  
                </div>
            </div>            
        </div>
    </div>
</section>


{% endblock %}

{% block js %}

{% endblock %}
