{% extends 'site/layouts/base.twig' %}
{% block title %}Download Sucesso - {% endblock %}
{% block description %}{% endblock %}

{% block content %}

<section id="breadcrumbs">
    <div class="uk-container">
        <div class="contentBreadcrumb">
            <p class="uk-margin-remove">Contato</p>
        </div>
    </div>
</section>

<section id="mainBlock">
    <div class="uk-container">
        <div class="contactBlock">
            <div class="indicator">
                <p class="uk-margin-remove">Envie sua Mensagem</p>
            </div>
        </div>
    </div>
</section>

<section id="formBlock">
    <div class="uk-container">
        <div class="uk-child-width-1-2@s uk-child-width-1-2@m" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body cardContact">
                    <h3>Mensagem enviado com sucesso!</h3>
                </div>
            </div>
            <div>
                <div>
                    <div class="content">
                        <div class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid>
                            <div>
                                <div>
                                    <h4>Canal de Vendas</h4>
                                    <small>Telefone:</small>
                                    <p class="uk-margin-remove-top"><a href="tel:1140139966">(11) 4013-9966</a></p>
                                    <small class="uk-margin-top">Whats App:</small>
                                    <p class="uk-margin-remove-top"><a href="">(11) 0000-0000</a></p>
                                    <small class="uk-margin-top">E-mail:</small>
                                    <p class="uk-margin-remove-top"><a class="mail" href="mailto:vendas@tsadobrasil.com.br">vendas@tsadobrasil.com.br</a>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <h4>Suporte Técnico</h4>
                                    <small>Whats App:</small>
                                    <p class="uk-margin-remove-top"><a href="">(11) 0000-0000</a></p>
                                    <small>Skype:</small>
                                    <p class="uk-margin-remove-top"><a class="mail" href="">assistencia.tsadobrasil</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="map"></section>

{% endblock %}

{% block js %}

{% endblock %}
