{% extends 'site/layouts/base.twig' %}
{% block title %}Sobre a
{% endblock %}
{% block description %}{% endblock %}

{% block content %}

	<section id="introBlock">
		<div class="uk-container">
			<div class="uk-child-width-1-2@s uk-child-width-1-2@m" uk-grid>
				<div>
					<div>
						<p class="uk-text-uppercase uk-margin-remove">nossa história</p>
					</div>
				</div>
				<div>
					<div>
						<p class="uk-text-uppercase uk-margin-remove float-right">TSA
							<span style="color: #ffcb05;">\\</span>
							te leva mais longe</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="mainBlock">
		<div class="contentBlock">
			<div class="uk-container">
				<div class="blockVideo">
					<iframe width="100%" height="600" src="https://www.youtube.com/embed/rYUPUSW1fmI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>

				<div class="contentText">
					<div class="uk-child-width-1-2@s uk-child-width-1-2@m" uk-grid>
						<div>
							<div>
								<p>Com <b>capital 100% nacional</b> e <b>duas décadas de história</b>, o grupo TSA e Mogplast surgiu para suprir um nicho do mercado automotivo: fabricar peças para linhas leves e pesadas com excelência.</p>
								<p>Nossa cultura se baseia no <b>respeito</b>, na <b>empatia</b> e na vontade de realizar <b>grandes sonhos</b>, com dedicação e investimentos em <b>tecnologia e qualificação</b> da nossa mão de obra. </p>
							</div>
						</div>
						<div>
							<div>
								<p>De Itu/SP para o mundo, a TSA está presente nos maiores e melhores distribuidores de autopeças, com mais de 700 produtos das linhas leve, pesada e utilitários no catálogo. </p>
								<p>Sensores de Nível de Combustível, Flange da Bomba de Combustível, Sensores de Velocidade, Sensores ABS, Eletrobombas etc. Tudo em um estoque permanente, sendo referência em logística e sempre pronta a levar ao consumidor, aplicador e lojista o que há de melhor no mercado automotivo. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="politicaQualidade">
		<div class="uk-container">
			<div class="indicator">
				<p class="uk-margin-remove">QUALIDADE E DURABILIDADE</p>
			</div>

			<div class="contentSection">
				<div class="uk-child-width-1-2@s uk-child-width-1-2@m" uk-grid>
					<div class="uk-flex uk-flex-middle">
						<div>
							<div class="blockImg uk-text-center">
								<img src="{{base_url()}}/assets/site/images/imagem-qualidade.png" alt="Qualidade TSA do Brasil">
							</div>
						</div>
					</div>
					<div>
						<div class="uk-card uk-card-default uk-card-body">
							<p>Somos a única do segmento de sensores de nível de combustível no Brasil que possui a <b>própria fabricação de Resistor Card.</b> </p>
							<p>Respeitamos um rigoroso <b>sistema de qualidade</b>, seguindo todos os requisitos, com o objetivo de oferecer produtos e serviços para atender às <b>expectativas</b> de nossos clientes, sem abrir mão da tecnologia, dos preços competitivos e da altíssima qualidade.</p>
							
							<p class="uk-margin-remove"><b>PENSOU PEÇA, PENSOU TSA</b></p>
							<p class="uk-margin-remove"><b>VÁ MAIS LONGE</b></p>

							{# <img src="{{base_url()}}/assets/site/images/bandeira-brasil.png" alt="Certificações TSA"> #}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}

{% block js %}{% endblock %}
