{% extends 'site/layouts/base.twig' %}
{% block title %}Área técnica -
{% endblock %}
{% block description %}{% endblock %}

{% block content %}

	<section id="introBlock">
		<div class="uk-container">
			<div class="uk-child-width-1-2@s uk-child-width-1-2@m" uk-grid>
				<div>
					<div>
						<p class="uk-text-uppercase uk-margin-remove">Área Técnica</p>
					</div>
				</div>
				<div>
					<div>
						<p class="uk-text-uppercase uk-margin-remove float-right">TSA
							<span style="color: #ffcb05;">\\</span>
							te leva mais longe</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="mainBlock">
		<div class="contentBlock">
			<div class="uk-container">
				<div class="contentText">
					<div uk-grid>
						<div class="uk-width-1-3@m uk-flex uk-flex-middle">
							<div>
								<div class="titleBlock">
									<h3>TSA Papo de Aplicador
										<br>
										Flange T-030086</h3>
									<p class="uk-margin-remove-bottom">O Papo de Aplicador de hoje é especial sobre a flange T-030086.
									</p>
									<p class="uk-margin-remove">Apresentação Realizada por: Caio César - Assistência Técnica TSA</p>
								</div>
							</div>
						</div>
						<div class="uk-width-expand@m">
							<div>
								<div class="mediaBlock">
									<iframe width="100%" height="400" src="https://www.youtube.com/embed/j1gscWmprXc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</div>
						</div>
					</div>
					<div class="otherMedia uk-margin-medium">
						<div class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid>
							<div>
								<div></div>
							</div>
							<div>
								<div></div>
							</div>
							<div>
								<div></div>
							</div>
						</div>

						<a class="uk-button uk-button-default" href="https://www.youtube.com/channel/UC-_KfKvkbn5gVJVn9R9uosQ" target="_blank">Ver Mais
							<i class="fal fa-chevron-double-right"></i>
						</a>
					</div>
				</div>

				<div class="moreInfos">
					<div class="line"></div>

					<ul uk-accordion>
						<li>
							<a class="uk-accordion-title" href="#">PROCEDIMENTO PARA A SUBSTITUIÇÃO DO SENSOR DE NÍVEL DE COMBUSTÍVEL DOS VEÍCULOS FLEX</a>
							<div class="uk-accordion-content">
								<div class="uk-child-width-1-2@s uk-child-width-1-2@m" uk-grid>
									<div>
										<div>
											<p>
												<b>Após retirar o conjunto de bomba do veículo e o sensor de nível de combustível defeituoso:</b>
											</p>
											<p>
												<b>1-</b>
												Verificar se existe oxidação nos terminais do conector do sensor de nível de combustível e do conector da flange.</p>
											<p>
												<b>2-</b>
												Verificar se os anéis de vedação estão danificados ou cortados, causando infiltração de combustível nos terminais.</p>
											<p>
												<b>3-</b>
												Caso sejam constatados os problemas descritos nos itens 1 e 2, esses deverão ser corrigidos primeiramente a fim de evitar danos no novo sensor de nível a ser montado.</p>
											<p>
												<b>4-</b>
												Ao instalar o novo sensor de nível no conjunto bomba, deverá ser realizado o teste do circuito elétrico do veículo conforme os passos.</p>
										</div>
									</div>
									<div>
										<div>
											<p>
												<b>a.</b>
												Retire o fusível correspondente ao funcionamento da bomba de combustível.</p>
											<p>
												<b>b.</b>
												Coloque a haste do sensor de nível de combustível na posição vazio e desligue o cabo da bateria por 5 minutos.</p>
											<p>
												<b>c.</b>
												Após os 5 minutos, ligue novamente o cabo da bateria, ligue a chave de ignição e verifique se o marcador está indicando vazio.. Feito esse procedimento, passe para o próximo passo.</p>
											<p>
												<b>d.</b>
												Desligue o cabo da bateria por 5 minutos e coloque a haste do sensor de nível de combustível na posição cheio. Ligue novamente o cabo da bateria, ligue a chave de ignição e verifique se o marcador está indicando cheio.</p>
											<p>
												<b>e.</b>
												Estando com funcionamento perfeito, desligue o cabo da bateria, monte o conjunto bomba no tanque e recoloque o fusível retirado
											</p>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<a class="uk-accordion-title" href="#">PROCEDIMENTO DE PROGRAMAÇÃO</a>
							<div class="uk-accordion-content">
								<div class="uk-child-width-1-2@s uk-child-width-1-1@m" uk-grid>
									<div>
										<div>
											<p>
												<b>PRINCIPALMENTE PARA OS VEÍCULOS: RENAULT – PEUGEOT – CITROEN  - GM ONIX / NOVO PRISMA / COBALT / SPIN / CRUZE / TRACKER - FORD – ANO 2013 EM DIANTE</b>
											</p>
											<p>Ao instalar o novo sensor de nível no conjunto bomba, deverá ser realizado o teste do circuito elétrico do veículo conforme os passos abaixo:</p>
											<p>
												<b>1-</b>
												Coloque a haste do sensor de nível de combustível na posição vazio e desligue o cabo da bateria por 5 minutos;</p>
											<p>
												<b>2-</b>
												Após os 5 minutos, ligue novamente o cabo da bateria, ligue a chave de ignição e verifique se o marcador está indicando vazio. Feito esse procedimento, passe para o próximo passo.</p>
											<p>
												<b>3-</b>
												Desligue o cabo da bateria por 5 minutos e coloque a haste do sensor de nível de combustível na posição cheio. Ligue novamente o cabo da bateria, ligue a chave de ignição e verifique se o marcador está indicando cheio;</p>
											<p>
												<b>4-</b>
												Com o funcionamento perfeito, desligue o cabo da bateria, monte o conjunto bomba.
											</p>
											<p>
												<b>5-</b>
												Ligue novamente o cabo da bateria e a chave de ignição, assim, o sensor de nível estará calibrado com o painel do veículo.</p>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<a class="uk-accordion-title" href="#">CONDIÇÕES DE GARANTIA</a>
							<div class="uk-accordion-content">
								<div class="uk-child-width-1-2@s uk-child-width-1-1@m" uk-grid>
									<div>
										<div>
											<p>A TSA garante seus produtos contra defeitos de fabricação pelo prazo de 6 meses a partir da data de sua aquisição, nos seguintes termos:
											</p>
											<p>
												<b>O prazo acima já inclui os 90 dias previstos em lei para os defeitos de fabricação aparentes ou de fácil constatação;
												</b>
											</p>
											<p>
												<b>A garantia só é válida quando o consumidor apresentar a Nota Fiscal referente à compra do produto junto ao Certificado de Garantia;
												</b>
											</p>
											<p>
												<b>O produto com defeito será substituído por um novo com igual período de garantia;
												</b>
											</p>
											<p>
												<b>A garantia não abrange os defeitos/danos causados pelo mau uso do produto, por acidentes, instalação inadequada e/ou decorrentes de outros componentes do veículo.</b>
											</p>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

{% endblock %}

{% block js %}{% endblock %}
