header {

    .uk-navbar-center {
        .uk-navbar-nav {
            >li {
                a {
                    color: #fff;
                    font-family: 'Roboto Condensed', sans-serif;
                    font-size: 14px;
                    font-weight: 700;
                }
            }
        }
    }

    .uk-navbar-right {
        .uk-navbar-nav {
            >li {
                a {
                    padding: 0 10px;
                }
            }
        }
    }

    .uk-sticky {
        background: #003b87;
    }


    .uk-navbar-dropdown {
        background: #003b87;
    }

    .uk-navbar-dropdown-nav>li>a {
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
    }

    .uk-navbar-dropdown-nav>li>a:hover {
        color: #fab600;
    }

    .uk-navbar-toggle:hover,
    .uk-navbar-toggle[aria-expanded="true"] {
        color: #fff;
    }

    .uk-navbar-toggle {
        color: #fff;
    }
}

.uk-offcanvas-bar {
    background: #003b87;
}

.uk-nav-primary>li>a {
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 700;
}

.idiomas {
    display: inline-block;
    margin-right: 15px;
}